{% extends 'practico1/base.html' %}
{% load static %}

{% block css_file %}
<link rel="stylesheet" href="{% static 'practico1/index.css' %}">
{% endblock %}

{% block title %}
Clima
{% endblock %}

{% block body %}
    <h1>Registros de Clima</h1>

<table class="tabla-clima">
    <thead>
        <tr>
            <th>Ciudad</th>
            <th>Fecha y Hora</th>
            <th>Temperatura</th>
        </tr>
    </thead>
    <tbody>
        {% for c in climas %}
        <tr>
            <td>{{ c.nombre_ciudad }}</td>
            <td>{{ c.fecha_y_hora|date:"d/m/Y H:i" }}</td>
            <td>{{ c.temperatura }}°C</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No hay datos registrados aún.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}